#metronome-area {
    height: 90%;
    width: 100%;
    background: aqua;
}
#metronome-controls {
    height: 10%;
    width: 100%;
    background:whitesmoke;
    position: absolute;
    bottom: 0px;
} 


.metronome-container {
    width: 2%;
    height: 500px;
    position: absolute;
    bottom: calc(10% - 250px);
    left: 49%;
}

.metronome-top {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: yellow;
}

#metronome-shaft {
    width: 100%;
    height: 100%;
    background: gray;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.rotate-cw {
    transform: rotate(0deg);
    /*
    */
}
.rotate-ccw {
}

